<div id="wrapper">
  <nav class="navbar is-dark">
    <div class="navbar-brand">
      <a routerLink="/" class="navbar-item"><strong>Home</strong></a>
      <a
        class="navbar-burger"
        aria-label="menu"
        aria-expanded="false"
        data-target="navbar-menu"
        (click)="toggleMenuBar()"
      >
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
      </a>
    </div>
    <div
      class="navbar-menu"
      id="navbar-menu"
      [class.is-active]="showMobileMenu"
    >
      <div class="navbar-start">
        <div class="navbar-item">
          <form
            method="GET"
            action="/search"
            (ngSubmit)="onSubmit(query.value)"
          >
            <div class="field has-addons">
              <div class="control">
                <input
                  type="text"
                  class="input"
                  placeholder="What are you looking for?"
                  name="query"
                  #query
                />
              </div>
              <div class="control">
                <button class="button is-success" type="submit">
                  <span class="icon">
                    <i class="fas fa-search"> </i>
                  </span>
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="navbar-end">
        <a routerLink="/categories/slug/summer" class="navbar-item">Summer</a>
        <a routerLink="/categories/slug/winter" class="navbar-item">Winter</a>

        <div class="navbar-item">
          <div class="buttons">
            <a
              *ngIf="(isAuthenticated)"
              routerLink="/account/my-account"
              class="button is-light"
              >My Account</a
            >
            <a
              *ngIf="!(isAuthenticated)"
              routerLink="/account/login"
              class="button is-light"
              >Log in</a
            >
            <a routerLink="/cart/cart-detail" class="button is-success">
              <span class="icon"><i class="fas fa-shopping-cart"></i></span>
              <span>Cart ({{ cartTotalLength }})</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </nav>
  <div
    class="is-loading-bar is-loading has-text-centered"
    [class.is-loading]="isLoading"
  >
    <div class="lds-dual-ring"></div>
  </div>

  <section class="section">
    <router-outlet> </router-outlet>
  </section>

  <footer class="footer">
    <p class="has-text-centered">Copyright (c) 2021</p>
  </footer>
</div>
